<h1>Учебни заведения</h1>

<p>Списък на учебните заведения, които са изявили желание да се включат в Бъдещето е код.</p>

<% @schools.group_by(&:town).each do |town, schools| %>
  <h2><%= town.full_name %></h2>
  <ul class="schools">
    <% schools.each do |school| %>
      <li>
        <%= link_to participating_school_path(school) do %>
          <span class="name"><%= school.name %></span>
          <% if school.events.size > 0 %>
            <span class="label success"><%= pluralize school.events.size, 'събитие', 'събития' %></span>
          <% end %>
          <span class="btn">виж детайли</span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
