S3_BUCKET='somebucketname'
S3_HOSTNAME='s3.amazonaws.com'
S3_HOST_ALIAS='cdn.yourhostname.com'
AWS_ACCESS_KEY_ID='your-aws-access-key-id'
AWS_SECRET_ACCESS_KEY='your-aws-secret-access-key'
CONTACT_EMAIL_ADDRESS='contact@example.com'
