body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 10px;
}
.hero {
  padding-top: 10%;
  text-align: center;
}
.hero h1 {
  font-size: 8em;
  font-weight: normal;
  font-family: georgia, serif;
  color: #5d635f;
}
.hero p {
  font-size: 1.8em;
}
