<p>Формуляр за посещение в учебно заведение, за което имате уговорка. Ако все още не сте избрали учебно заведение и не сте се свързали с лицето за контакт, прегледайте <%= link_to 'списъка с всички участващи учебни заведения', participating_schools_path %>.</p>

<p>След създаване на събитието, ще бъде необходимо то да бъде одобрено от учебното заведение. Лицето за контакт ще бъде автоматично известено по имейл, че има ново събитие, което чака одобрение. След одобрение, ще получите имейл. Ако събитието ви не бъде одобрено дълго време, свържете се с лицето за контакт в избраното учебно заведение, или с <%= link_to 'някой от нашия екип', contacts_path %>.</p>

<p>Можете да изпращате линка до новосъздаденото събитие, за да го популяризирате. Страницата ще бъде видима и преди одобрение от учебното заведение. Ще можете да редактирате данните на събитието и след създаването му.</p>

<p>За какво ще говорите зависи изцяло от вас. В раздела с <%= link_to 'често задавани въпроси имаме някои препоръки', frequently_asked_questions_path(anchor: 'content') %>.</p>

<p>Не забравяйте да направите снимки по време на събитието.</p>
