<h1>Събития</h1>

<% if @events.any? %>
  <ul>
    <% @events.each do |event| %>
      <li><%= link_to event.name_or_default, event %></li>
    <% end %>
  </ul>
<% else %>
  <p>Все още няма регистрирани събития.</p>
<% end %>
