<h1><%= @event.name_or_default %></h1>

<!-- TODO: status: approved or not -->

<h2><%= @event.school.name %></h2>

<ul class="details inline">
  <li>
    <label>Дата:</label>
    <span class="value"><%= l @event.date %></span>
  </li>
</ul>

<!-- TODO: full address -->
<!-- TODO: speaker name -->
<!-- TODO: cover image -->
<!-- TODO: other details -->
