<div id="contacts">
  <h1>Контакти</h1>

  <p>За всякакви въпроси, свързани с инициативата и организацията на посещенията, можете да се свържете с организационния екип на:</p>
  <ul>
    <li>Имейл <%= mail_to ENV['CONTACT_EMAIL_ADDRESS'] %></li>
    <li>Телефон <strong>+359 88 927 23 12</strong> – <%= link_to 'Димитър Димитров', 'http://ddimitrov.name' %>, Europe Code Week посланик за България</li>
    <li>Телефон <strong>+359 88 813 02 25</strong> – Адриана Панайотова, Дигитална национална коалиция</li>
  </ul>
</div>
