defaults: &defaults
  adapter: postgresql
  host: localhost
  encoding: unicode

development:
  <<: *defaults
  database: futureiscode_development

test:
  <<: *defaults
  database: futureiscode_test
