<h1>Присъединяване като фирма</h1>

<p><%= link_to 'Бъдещето е код', root_path %> е инициатива с идеална цел. За да се включите като компания, не е необходимо да предоставяте спонсорство на организаторите. Достатъчно е да споделяте каузата, да вярвате в идеята и да предадете ентусиазма си на своите служители.</p>
<p>Ако се ангажирате ваши служители да осъществят три или повече посещения в български училища, ще поставим вашето лого на началната страница на инициативта.</p>
<p>За да изразите желанието си за включване в инициативата като фирма, или за всякакви въпроси, свързани с "Бъдещето е код", се свържете с екипа ни. Ние сме тук, за да помогнем.</p>

<p class="top-space"><%= link_to 'Пишете ни →', contacts_path, class: 'btn light' %></p>
