<p>Формуляр, попълван от учебно заведение, изявяващо желание да се включи в <%= link_to 'Бъдещето е код', root_path %>.</p>

<p>Ако вече имате регистрация, <%= link_to 'влезте от тук', new_school_session_path %>.</p>

<p>Попълнените от вас данни ще бъдат видими за лекторските екипи, които ще изберат училище и ден за посещение и ще се свържат с лицето за контакт, посочено от вас, за да потвърдят посещението и да уточнят подробностите. С регистрацията тук вие потвърждавате желанието си да бъдете посетени от лектор или екип от лектори, да ги допуснете в редовен час на една или повече паралелки и да укажете в кои дни бихте могли да направите това.</p>

<p>За целта е необходимо да оставите данни на лице за контакт, с което лекторът да се свърже и да се уговори посещението. Можете да променяте попълнената информация и след първоначалната си регистрация.</p>

<p>Поради факта, че лекторският ресурс е ограничен, не можем да гарантираме, че ще бъдете посетени от лектор, дори и да сте попълнили формулята.</p>

<p>При въпроси или проблеми, може да се <%= link_to 'свържете с екипа ни', contacts_path %>.</p>
