<p>Лекторите имат пълната свобода да решат как точно да структурират всеки учебен час, в който ще говорят, както и за какво точно да разказват.</p>

<p>Ние препоръчваме на лекторите:</p>

<ul>
  <li>Да не разчитате на допълнителна техника като проектор, озвучаване, компютри, интернет за самите учебни часове. Много от училищата не разполагат с тази комбинация от техника и ако изградите презентацията си в самите учебни часове така, че да е само говор, ще се осигури максимална гъвкавост и ще се увеличи възможността за достигане на по-широка аудитория – достатъчно ще е лекторът единствено да бъде допуснат в един или повече учебни часа.</li>
  <li>Да бъдете максимално откровени с децата и да излъчвате ентусиазъм. Разчупването на стандартния формат на учебния час ще грабне вниманието на учениците и ще има по-траен ефект.</li>
  <li>Да организирате неформалната сбирка след учебните часове и да съобщите на класа в колко часа и в коя зала ще очаквате тези от тях, които имат интерес да научат повече. Вижте подробности за тези сбирки в <%= scroll_to 'секцията по-долу', 'meetups' %>.</li>
  <li>Ако е предварително уточнено, че училището и залата, в която ще бъдете, ще има на разположение проектор, интернет и компютри, бихте могли да организирате и по-интерактивна презентация, включително и с някаква демонстрация, която ангажира и самите деца – например нещо, използващо <%= link_to 'Scratch', 'http://scratch.mit.edu/' %>, нещо, засягащо основи на HTML/CSS, или да прожектирате <%= link_to 'видеоклип, подобен на този', 'https://www.youtube.com/watch?v=STRPsW6IY8k' %>.</li>
  <li>Разказвайте истории. Историите имат много по-силен мотивационен ефект и се запомнят много пвоече, отколкото предаването на материал. В един учебен час от 45 минути, предаването на нов материал на сравнително непозната аудитория не е реалистична цел. Мотивационният подход би бил по-успешен.</li>
  <li>Интерактивни презентации и сесии тип "уъркшоп", в които се правят конкретни експерименти и се предава конкретна информация, може да се направят в опционалните сбирки след часовете.</li>
  <li>Насърчете учениците да сформират групи по интереси и училищата да им съдействат с общо помещение с интернет, където те да се срещат и да развиват идеите си и уменията си. Учители или представители на местната IT-общност могат да се включат като ментори. Групите могат да се срещат регулярно, например веднъж седмично. В срещите, участниците ще могат да правят каквото искат – да работят по игра, уебсайт, да четат за нова технология, да програмират робот – светът е пред тях. Добре е да бъдат упътени към инструмените, които съществуват онлайн, за да им помогнат да се организират, да набират още съмишленици и да намират ресурси.</li>
</ul>

<h3>Материали</h3>

<p>Допълнителни идеи за материали, към които може да насочите заинтересованите деца, може да намерите на <%= link_to 'страницата с ресурси за България в инициативата Europe Code Week', 'http://codeweek.eu/resources/bulgaria/' %>. Всички ресурси в този линк са на български, тъй като чуждият език е допълнителна бариера за деца и ученици и е добре при възможност да се избегне.</p>

<p>Въпреки всичко, нашите напътствия са само инструктивни. Лекторът запазва свободата си да разкаже за своя поглед над технологиите и програмирането по начин, който му е на сърце.</p>
