<p>Добра идея е след като веднъж е събуден интерес у децата към програмирането и технологиите, да има възможност тези, които са проявили любитство, да има как да продължат да получват информация по въпроса и да се развиват.</p>

<p>За тази цел, ще е полезно те да бъдат насочвани към последващи курсове, софтуерни академии, летни обучителни лагери, онлайн материали и прочее.</p>

<p>Възможните варианти за поддържане на интереса на учениците и предоставяне на възможности за тяхното развитие могат да <%= link_to 'бъдат обсъждани в тази Facebook група', ENV['FACEBOOK_GROUP_URL'] %>.</p>
