<p>Пилотното издание на инициативата се състоя в средата на октомври 2014 г., като част от <%= link_to 'Europe Code Week', 'https://codeweek.eu' %>, под шапката на Дигиталната национална коалиция и съвместно с Министерството на образованието. В него се включиха като желаещи за посещение над 120 училища от цялата страна.</p>
