<p>Тези срещи са опционални и зависят от една страна от желанието и времевата възможност на екипа лектори, посетил дадено училище и от друга страна, от възможността на училището да предостави помещение за целта.</p>

<p>Предполага се, че в тези сбирки желаещите да дойдат ще са много по-малко от всички ученици, на които е презентирано през деня, затова вероятно обикновена класна стая или компютърен кабинет вероятно ще е достатъчен.</p>

<p>Цели на сбирката могат да бъдат едно или повече от следните неща:</p>
<ul>
  <li>Да се продължи темата от часовете, в повече детайли.</li>
  <li>Да се съберат на едно място хората с общи интереси и да се запознаят един с друг. Да се положи основата на местна група по интереси.</li>
  <li>Да се насърчат учениците да си направят собствена група, за самоорганизация.</li>
  <li>Да се отговори на въпросите, които учениците биха имали.</li>
  <li>Да се упътят заинтересованите към курсове за програмиране, софтуерни академии, летни училища и прочее.</li>
  <li>Да се насочат децата към ресурси, които да четат (отправна точка може да са <%= link_to 'тези ресурси, които са на български', 'http://codeweek.eu/resources/bulgaria/' %>) и да им се даде напътствие как да се развиват от тук нататък.</li>
  <li>Да се направи малка работна сесия, в която се демонстира нещо конкретно, например базирано на <%= link_to 'Scratch', 'http://scratch.mit.edu/' %> засягащо основи на HTML/CSS.</li>
  <li>Да се развие дискусия по темата програмиране, технологии, работа, бъдещо развитие, университетско образование в сферата – да/не и прочее.</li>
</ul>
