<p>Известна е острата липса на достатъчен брой мотивирани и добре подготвени преподаватели в училищата извън столицата и по-големите градове, особено в сферата на съвременните IT-технологии.</p>

<p>Сред много хора се наблюдават погрешни предразсъдъци към програмирането и технологиите — че това е скучна работа, че това е сложна дейност, която може да се извършва само от по-особени хора, с някакви специални умения и прочее. Нито едно от тези неща не е вярно и една основна задача на тази инициатива е да разклати основите на тези предразсъдъци, като представи на учениците една нова гледна точка, от първа ръка, към IT-сферата и работата там. Програмирането е мощен инструмент и ще става все по-необходимо умение занапред. Това е посланието, което турнето ще носи.</p>

<p>Петя Панайотова, завършила журналистика в Софийския университет "Св. Климент Охридски", казва следното по повод все по-осъзнатия си интерес към програмирането и технологиите:</p>
<blockquote>
  "Възможностите и предизвикателствата, които те предлагат, са все по-привлекателни за мен. Наскоро гледната ми точка към програмирането се промени, като това разбира се не стана изведнъж. Осъзнах, че в училище съм си създала погрешна и ограничена представа (не без "съдействието" на програмата по предмета, начина на преподаване и липсата на ефектива комуникация с преподавателя) за процеса на програмиране и това, което може да се постигне чрез него. Тази негативна гледна точка се е дължала на неразбиране и незадълбочен поглед."
</blockquote>

<p>С това турне се цели да се направи връзка между бизнеса и потенциалните бъдещи кадри, като се разпали отрано огънят в главите на младежите, като им се даде цел, която да преследват, като се мотивират да го направят и като им се предоставят инструменти за целта.</p>
