<p>Лекторите участват в инициативата доброволно. Организаторите на "Бъдещето е код" не предлагат възнаграждение за организиране на събитие.</p>

<p>От друга страна, силно насърчаваме компанните да стимулират служителите си да участват в турнето, като оформят посещението им в учебното заведение като командировка – в работно време, поемайки транспортните разходи и предоставяйки командировъчни.</p>
