<p>Текущото издание ще се проведе в периода <%= ENV['CURRENT_PERIOD'] %> Периодът е ориентировъчен. Напълно допустимо е сбирки да се случат и извън този график, при желание и възможност на лектори и училища.</p>

<p>Вече доста учебни заведения от различни части на страната изявиха желание да се включат. Мащабът на инициативата ще зависи изцяло от броя компании и лектори, които решат да се присъединят.</p>
