<p>Текущото издание ще се проведе в периода <%= ENV['CURRENT_PERIOD'] %>. Периодът е ориентировъчен. Напълно допустимо е сбирки да се случат и извън този график, при желание и възможност на лектори и училища.</p>

<p>Конкретната дата на посещение се определя от лектора и се съгласува с избраното учебното заведение. Продължителността на посещението трябва да покрива поне един учебен час. Горна граница няма.</p>
