<p>Не забравяйте да направите снимки по време на събитието.</p>
<p>За да се популяризират събитията и инициативата, може свободно да споделяте линка към сайта на кампанията, към <%= link_to 'Facebook страницата ни', ENV['FACEBOOK_GROUP_URL'] %>, както и:</p>
<ul>
  <li>Да разпространявате линка на създаденото от вас събитие.</li>
  <li>Да направите снимки по време на събитието, които да качите в <%= link_to 'общия поток снимки във Flickr', ENV['FLICKR_GROUP_URL'] %>.</li>
  <li>Да се свързвате с медии и да пускате прессъобщения, като обявявате, че вашата компания е част от инициативата "Бъдещето е код".</li>
</ul>
<p>Може да ни пишете с предложения как да направим инициативата още по-популярна, мащабна и успешна.</p>
