<p>За да се популяризират събитията и инициативата, може свободно да споделяте линка към тази страница, към <%= link_to 'Facebook групата ни', 'https://www.facebook.com/groups/futureiscode/' %>, както и:</p>
<ul>
  <li>Да създадете събитие на <%= link_to 'картата със събития, участващи в Code Week', 'http://events.codeweek.eu' %>.</li>
  <li>Да направите снимки по време на събитието, които да качите в <%= link_to 'общия поток снимки във Flickr', 'https://www.flickr.com/groups/futureiscode/' %>.</li>
  <li>Да се свързвате с медии и да пускате прессъобщения, като обявявате, че Вашата компания е част от инициативата "Бъдещето е код".</li>
</ul>
<p>Може да ни пишете с предложения как да направим инициативата още по-популярна, мащабна и успешна.</p>
