<p>Основна целева група са учениците от 5 до 12 клас, без значение на техния профил или специализация.</p>

<p><strong>В целевата група попадат всякакви училища</strong>, не само математически и профилирани гимназии. На тази възраст е трудно учениците да са избрали своето призвание и всяка възможност за избор, която им се предостави, се превръща и във възможност за развитие на техния интерес впоследствие. Затова езикови и хуманитарни гимназии също могат – и даже е желателно – да участват в турнето.</p>
