<p>Организира се от <%= link_to 'Дигиталната национална коалиция', 'https://digitalalliance.bg' %>, заедно с помощта на <%= link_to 'екип от доброволци', contacts_path %> и със съдействието на <%= link_to 'Министерството на образованието', 'https://mon.bg' %> и регионалните инспекторати.</p>
