/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require boilerplate
 *= require normalize
 *= require forms
 *= require alerts
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$content-width: 800px;
$footer-height: 31em;

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 10px;
  background-color: #F2F3F4;
}

// Sticky footer
.page {
  min-height: 100%;
  margin-bottom: -$footer-height;
}
footer, .footer-placeholder {
  min-height: $footer-height;
}

article,
.content {
  max-width: $content-width;
  margin: 0 auto;
}

h2 {
  margin: 2.1em 0 0.7em 0;
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #D6D3D3;
  padding-bottom: 0.5em;
  font-weight: 200;
}

article.home h2 {
  margin: 2.5em 0 1.5em 0;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  position: relative;
  opacity: 0.9;
}

blockquote:before {
  display: block;
  content: "“";
  position: absolute;
  top: 0;
  left: -60px;
  font-size: 8em;
  opacity: 0.2;
  line-height: 1em;
  width: 1em;
}

header {
  background-color: #DEE4E7;
  font-weight: normal;
  font-family: helvetica, verdana, arial, sans-serif;
  color: #576b78;
  overflow: hidden;

  .home-link {
    display: block;
    float: left;
    font-size: 2.5em;
    line-height: 1.1em;
    padding: 0.3em 0;
    color: #527591;

    &:hover {
      color: #48677F;
    }

    .icon {
      width: 2em;
      height: 2em;
      opacity: 0.8;
      vertical-align: middle;
    }
  }

  .period {
    float: left;
    margin-left: 1em;
    font-size: 1.5em;
    margin-top: 1.6em;
    color: #899CA8;
  }

  .join {
    float: right;
    font-size: 1.2em;
    margin-top: 1.3em;
    a {
      margin-left: 0.7em;
    }
  }

  .member-links {
    float: right;
    font-size: 1.4em;
    margin-top: 1.7em;
  }
}

.hero {
  padding: 2%;
  text-align: center;
  background: #DEE4E7 image-url('top-background.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .icon {
    width: 100px;
    height: 100px;
    opacity: 0.8;
  }

  h1 {
    font-size: 7em;
    font-weight: normal;
    font-family: helvetica, verdana, arial, sans-serif;
    margin: 0.1em 0 0.2em 0;
    color: #38444D;
    text-shadow: 0 1px 0px #B0AEAE;
  }

  p {
    font-size: 2.3em;
    color: #2B353C;
    &.about {
      line-height: 1.6em;
      font-weight: 200;
      a {
        color: #070808;
      }
    }
  }

  .join-as {
    margin-top: 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 0.8em;
    color: #414242;
    font-weight: 200;
    margin-bottom: 0;
  }

  .join-as-buttons {
    margin-top: 0.7em;
    margin-bottom: 1.1em;
  }

  .login {
    font-size: 1.6em;
    color: #535454;
    a {
      color: #2C5777;
      &:hover {
        color: #090E1C;
      }
    }
  }

  .btn {
    width: 5em;
    margin: 0.5em;
  }

  a .small-icon {
    width: 1.5em;
    opacity: 0.8;
  }

  a:hover .small-icon {
    opacity: 1;
  }
}

a {
  color: #498AA8;
  text-decoration: none;
}

a:hover {
  color: #2833b7;
}

.content-wrapper {
  padding: 2%;
  padding-bottom: 4%;
  color: #1d2a32;
}

article {
  font-size: 1.6em;
  line-height: 1.5em;

  h1 {
    margin: 1em 0 0.8em 0;
    text-shadow: 0 1px 0 white;
    color: #282828;
    font-weight: 200;
  }
}

.btn {
  display: inline-block;
  padding: 0.6em 1.4em;
  text-decoration: none;
  background-color: #354d5f;
  color: #fff;
  border-radius: 3px;
  border: none;

  &.light {
    border: 1px solid #C5CCD3;
    color: #4F6476;
    background-color: transparent;
  }
}
.btn:hover {
  background-color: #44647c;
  color: #fff;
}

.pledged-support {
  background-color: #fff;
  text-align: center;
  padding: 1em;

  .joined {
    margin: 1em;
    color: #A1AAB4;
    font-size: 2em;
  }
  ul.companies {
    list-style: none;
    padding: 0;
    margin: 1em;
    li {
      display: inline-block;
      padding: 1em;
      img {
        max-height: 60px;
      }
    }
  }
  .join-us {
    font-size: 2em;
    margin: 2em;
  }
}

footer {
  background-color: #46535C;
  .social-links {
    padding: 1% 2%;
    background-color: #fff;
    font-size: 1.4em;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 3em;
      font-size: 1.4em;
      font-weight: 200;
      text-align: center;
      li {
        display: inline-block;
        margin-right: 1em;
        a {
          display: inline-block;
          padding: 0 0.3em;
          i {
            margin-right: 0.2em;
          }
        }
      }
    }
  }

  .footer-details {
    padding: 1% 2%;
    color: #899fac;

    a {
      color: #77b9ea;
      &:hover {
        color: #9ccffe;
      }
    }

    .content {
      font-size: 1.4em;
      line-height: 1.5em;
      text-align: left;
    }

    h4 {
      color: #a1b0b9;
    }
  }
}

.profile-links {
  margin: 1.8em 0;
  p {
    margin: 0.2em 0;
  }
}

ul.schools {
  margin-left: 0;
  padding-left: 1.5em;
  list-style: circle;
  li {
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: 200;
    a {
      display: inline-block;
      .btn {
        padding: 0.3em 0.6em;
        font-size: 0.8em;
        vertical-align: middle;
        line-height: 1.1em;
        background-color: #E8ECF0;
        color: #8A8F93;
      }
      &:hover {
        color: #354D5F;
        .btn {
          background-color: #354d5f;
          color: #fff;
        }
      }
    }
  }
}

ul.details {
  padding: 0;
  margin: 1em 0;
  list-style: none;

  li {
    label {
      display: block;
      color: #2E2E2E;
      margin: 1em 0;
      font-weight: bold;
    }
    .value {
      display: block;
    }
    ul {
      margin-left: 0;
      padding-left: 1.1em;
    }
  }

  &.inline {
    li {
      label {
        display: inline-block;
        margin: 0;
      }
      .value {
        display: inline-block;
        margin-left: 0.2em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero h1 {
    font-size: 4em;
  }
}
