/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require boilerplate
 *= require normalize
 *= require forms
 *= require alerts
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

$content-width: 800px;
$footer-height: 31em;
$content-side-padding: 4%;

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 10px;
  background-color: #F2F3F4;
}

// Sticky footer
.page {
  min-height: 100%;
  margin-bottom: -$footer-height;
}
footer, .footer-placeholder {
  min-height: $footer-height;
}

article,
.content {
  max-width: $content-width;
  margin: 0 auto;
}

h2 {
  margin: 2.1em 0 0.7em 0;
  text-shadow: 0 1px 0 white;
  border-bottom: 1px solid #D6D3D3;
  padding-bottom: 0.5em;
  font-weight: 200;
  line-height: 1.2em;
}

article.home h2 {
  margin: 2.5em 0 1.5em 0;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  position: relative;
  opacity: 0.9;
}

blockquote:before {
  display: block;
  content: "“";
  position: absolute;
  top: 0;
  left: -60px;
  font-size: 8em;
  opacity: 0.2;
  line-height: 1em;
  width: 1em;
}

header {
  background-color: #DEE4E7;
  font-weight: normal;
  font-family: helvetica, verdana, arial, sans-serif;
  color: #576b78;
  border-bottom: 1px solid #C8CDD0;

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  .home-link {
    display: block;
    float: left;
    font-size: 2.5em;
    line-height: 1.1em;
    padding: 0.3em 0;
    color: #527591;

    &:hover {
      color: #48677F;
    }

    .icon {
      width: 2em;
      height: 2em;
      opacity: 0.8;
      vertical-align: middle;
    }
  }

  .period {
    float: left;
    margin-left: 1em;
    font-size: 1.5em;
    margin-top: 1.6em;
    color: #899CA8;
  }

  .join {
    float: right;
    font-size: 1.2em;
    margin-top: 1.3em;
    a {
      margin-left: 0.7em;
    }
  }

  .member-links {
    float: right;
    font-size: 1.4em;
    margin-top: 1.7em;
  }
}

.hero {
  padding: 2%;
  text-align: center;
  background: #DEE4E7 image-url('top-background.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .icon {
    width: 100px;
    height: 100px;
    opacity: 0.8;
  }

  h1 {
    font-size: 7em;
    font-weight: normal;
    font-family: helvetica, verdana, arial, sans-serif;
    margin: 0.1em 0 0.2em 0;
    color: #38444D;
    text-shadow: 0 1px 0px #B0AEAE;
  }

  p {
    font-size: 2.3em;
    color: #2B353C;
    &.about {
      line-height: 1.6em;
      font-weight: 200;
      a {
        color: #070808;
      }
    }
  }

  .join-as {
    margin-top: 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 0.8em;
    color: #414242;
    font-weight: 200;
    margin-bottom: 0;
  }

  .join-as-buttons {
    margin-top: 0.7em;
    margin-bottom: 1.1em;
  }

  .login {
    font-size: 1.6em;
    color: #535454;
    a {
      color: #2C5777;
      &:hover {
        color: #090E1C;
      }
    }
  }

  .btn {
    width: 5em;
    margin: 0.5em;
  }

  a .small-icon {
    width: 1.5em;
    opacity: 0.8;
  }

  a:hover .small-icon {
    opacity: 1;
  }
}

a {
  color: #498AA8;
  text-decoration: none;
}

a:hover {
  color: #2833b7;
}

.content-wrapper {
  padding: 2% $content-side-padding;
  padding-bottom: 4%;
  color: #1d2a32;
}

article,
.article {
  font-size: 1.6em;
  line-height: 1.5em;

  h1 {
    margin: 1em 0 0.8em 0;
    text-shadow: 0 1px 0 white;
    color: #282828;
    font-weight: 200;
    line-height: 1.1em;
  }
}

.btn {
  display: inline-block;
  padding: 0.6em 1.4em;
  text-decoration: none;
  background-color: #354d5f;
  color: #fff;
  border-radius: 3px;
  border: none;

  &.light {
    border: 1px solid #C5CCD3;
    color: #4F6476;
    background-color: transparent;
  }
}
.btn:hover {
  background-color: #44647c;
  color: #fff;
}

.pledged-support {
  background-color: #fff;
  text-align: center;
  padding: 1em;

  .joined {
    margin: 1em;
    color: #A1AAB4;
    font-size: 2em;
  }
  ul.companies {
    list-style: none;
    padding: 0;
    margin: 1em;
    li {
      display: inline-block;
      padding: 1em;
      img {
        max-height: 60px;
        max-width: 100%;

        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.7;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        transition: all linear 0.3s;
      }
      :hover img {
        opacity: 1;
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }
  }
  .join-us {
    font-size: 2em;
    margin: 2em;
  }
}

.white-section {
  background-color: #fff;
}

.participants-background-section {
  background: #fff image-url('participants-background.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.speaker-background-section {
  background: #fff image-url('speaker-background.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.detailed-about {
  font-size: 1.25em;
  text-align: center;
  .details,
  .organizers {
    float: left;
    width: 44%;
    font-weight: 200;
    padding: 1%;
    line-height: 1.6em;
    h3 {
      font-weight: normal;
    }
  }
  .details {
    border-right: 1px solid #ddd;
    text-align: right;
    padding-right: 4%;
  }
  .organizers {
    text-align: left;
    padding-left: 4%;
  }
  .inspire {
    clear: both;
    padding-top: 2em;
    margin-bottom: 0;
  }
}

.participating-schools-wrapper {
  $color: #919CA6;
  text-align: center;
  .participating-schools {
    display: block;
    line-height: 1.2em;
    font-size: 1.6em;
    margin: 1.7em 0px;
    color: $color;
    &:hover {
      color: $color;
    }
    strong {
      display: block;
      font-size: 5em;
      line-height: 1em;
      font-weight: normal;
      color: #2D2B2E;
    }
  }
  p {
    color: $color;
    a {
      color: #5B8699;
      &:hover {
        color: #2833b7;
      }
    }
  }
}

.speakers {
  background: #2A2A2A image-url('speaker-background-black.jpg') 50% 50% no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  text-align: center;
  color: #D8D8D8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);

  h2 {
    border-bottom: none;
    font-size: 3em;
    margin: 1.4em 0 0.6em 0;
    padding: 0;
    line-height: 1.1em;
  }

  p {
    font-weight: 200;
    font-size: 1.2em;
    margin: 1em;
    line-height: 1.6em;
  }

  .action {
    margin: 4em 0 2em 0;
  }

  a.btn.light {
    color: #fff;
    text-shadow: none;
    &:hover {
      border-color: transparent;
    }
  }
}

footer {
  background-color: #46535C;
  .social-links {
    padding: 1% $content-side-padding;
    background-color: #fff;
    font-size: 1.4em;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 3em;
      font-size: 1.4em;
      font-weight: 200;
      text-align: center;
      li {
        display: inline-block;
        margin-right: 1em;
        a {
          display: inline-block;
          padding: 0 0.3em;
          i {
            margin-right: 0.2em;
          }
        }
      }
    }
  }

  .footer-details {
    padding: 1% $content-side-padding;
    color: #899fac;

    a {
      color: #77b9ea;
      &:hover {
        color: #9ccffe;
      }
    }

    .content {
      font-size: 1.4em;
      line-height: 1.5em;
      text-align: left;
    }

    h4 {
      color: #a1b0b9;
    }
  }
}

.profile-links {
  margin: 1.8em 0;
  p {
    margin: 0.2em 0;
  }
}

ul.schools {
  margin-left: 0;
  padding-left: 1.5em;
  list-style: circle;
  li {
    line-height: 1.6em;
    font-size: 1.2em;
    font-weight: 200;
    a {
      display: inline-block;
      .btn {
        padding: 0.3em 0.6em;
        font-size: 0.8em;
        vertical-align: middle;
        line-height: 1.1em;
        background-color: #E8ECF0;
        color: #8A8F93;
      }
      .label {
        padding: 0.3em 0.6em;
        font-size: 0.8em;
        line-height: 1.1em;
      }
      &:hover {
        color: #354D5F;
        .btn {
          background-color: #354d5f;
          color: #fff;
        }
      }
    }
  }
}

ul.details {
  padding: 0;
  margin: 1em 0;
  list-style: none;

  li {
    label {
      display: block;
      color: #2E2E2E;
      margin: 1em 0;
      font-weight: bold;
    }
    .value {
      display: block;
    }
    ul {
      margin-left: 0;
      padding-left: 1.1em;
    }
  }

  &.inline {
    li {
      label {
        display: inline-block;
        margin: 0;
      }
      .value {
        display: inline-block;
        margin-left: 0.2em;
      }
    }
  }
}

textarea#event_details {
  height: 18em;
}

.new-speaker {
  color: #2D2D2D;

  h1 {
    margin: 0.2em 0 0.8em 0;
    font-size: 4em;
    text-shadow: 0 1px 0 #E0E0E0;
    font-weight: 200;
    line-height: 1.1em;
  }

  p {
    font-size: 1.6em;
    line-height: 1.6em;
    &.actions {
      margin-top: 2em;
    }
  }

  .btn.light {
    border: 1px solid rgba(30, 30, 30, 0.2);
    color: #23384A;
    &:hover {
      color: #FFF;
      border-color: transparent;
    }
  }
}

.event-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .content-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3% $content-side-padding;

    h1 {
      margin: 0.2em 0 0.8em 0;
      font-size: 4em;
      text-shadow: 0 1px 0 #E0E0E0;
      color: #2D2D2D;
      font-weight: 600;
      line-height: 1.1em;
    }

    p {
      font-size: 1.4em;
    }

    .school {
      font-size: 2.6em;
      font-weight: 200;
      line-height: 1.5em;
      a {
        color: #000;
      }
    }

    .town {
      font-size: 2em;
      font-weight: 200;
      color: #2D2D2D;
      line-height: 1.4em;
    }

    .organizer {
      font-size: 1.6em;
      font-weight: 200;
      color: #888;
      margin: 1em 0 0 0;
      line-height: 2em;
      .company {
        margin-left: 0.5em;
        img {
          max-height: 2em;
          vertical-align: middle;
        }
      }
    }
  }
}

a.map {
  display: block;
}

.label {
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0.1em 0.6em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-transform: lowercase;
  &.warning {
    background-color: #FFF7AD;
    color: #877700;
  }
  &.error {
    background-color: #FFC6C5;
    color: #7F1B00;
  }
  &.success {
    background-color: #BFFFA4;
    color: #0A5704;
  }
}

p.separated {
  padding-bottom: 1em;
  border-bottom: 1px solid #DDDADA;
  margin-bottom: 1em;
}

.top-space {
  margin-top: 2em;
}

@media screen and (max-width: 799px) {
  a.map {
    img {
      max-width: 100%;
      height: auto !important;
    }
  }
}

@media screen and (max-width: 790px) {
  header {
    .content {
      padding: 0 1%;
    }
    .home-link {
      font-size: 2.2em;
      .icon {
        width: 1.3em;
        height: 1.3em;
      }
    }
    .period {
      margin-top: 0.8em;
    }
    .join {
      margin-top: 0.4em;
    }
    .member-links {
      margin: 0.8em 0 0.6em 0;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    text-align: center;
    .content {
      padding: 4% $content-side-padding;
    }
    .home-link {
      float: none;
      padding: 0;
      margin: 0;
    }
    .period {
      float: none;
      display: block;
      margin: 0.1em 0 0.6em 0;
    }
    .join,
    .member-links {
      float: none;
      margin: 0.5em 0 0 0;
      :first-child {
        margin-left: 0;
      }
    }
  }
  .hero h1 {
    font-size: 4em;
  }
  footer .social-links ul {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .detailed-about {
    font-size: 1.15em;
    .details,
    .organizers {
      float: none;
      width: auto;
      font-weight: 200;
      padding: 0;
      border-right: none;
      text-align: center;
    }
    .inspire {
      padding-top: 0;
      margin: 1em;
    }
  }
}
