form {
  .input {
    margin: 1.2em 0;
    &.check_boxes {
      margin: 1.5em 0;
    }
    input, textarea {
      width: 90%;
      padding: 0.4em 0.5em;
      &.boolean,
      &.radio_buttons,
      &.check_boxes {
        width: auto;
        margin-right: 0.5em;
      }
    }
    textarea {
      height: 5em;
    }
    select {
      max-width: 90%;
    }
  }
  label {
    display: block;
  }
  .hint {
    display: block;
    color: #777;
    margin: 0.3em 0;
  }

  .error_notification {
    color: red;
  }
  .error {
    display: block;
    color: red;
  }
  .field_with_errors {
    input {
      border-color: red;
      border-style: solid;
    }
  }

  .form-actions {
    margin: 2em 0 1em 0;
  }
}
