<p>Здравейте, <%= @resource.person_name %>,</p>

<p>Беше направена заявка за смяна на паролата на профила ви на <%= translated_profile_type_for @resource %> в системата на <%= link_to 'Бъдещето е код', root_url %>.</p>

<p><%= link_to 'Смяна на паролата →', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ако не вие сте заявили промяната на паролата, може да игнорирате този имейл.</p>
<p>Паролата ви няма да бъде сменена, докато не отворите линка по-горе и не напишете нова парола там.</p>

<p>Поздрави,<br />Екипът на Бъдещето е код</p>
