<div class="content-wrapper">
  <header>
    <%= link_to root_path do %>
      <%= image_tag 'codeweekeu-icon.png', alt: 'Code Week', class: 'icon' %>
      Бъдещето е код
    <% end %>
  </header>
</div>
